.questions {
  height: 100%;
  padding: 5vh 10vw;
  align-items: center;
  text-align: center;

  &-countdown {
    font-family: 'Wallpoet', sans-serif;
    font-size: 3.5rem;
    color: rgb(201, 56, 80);

    &__circle {
      width: 8rem;
      height: 8rem;
      background: #4ad9de;
      border-radius: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 7rem;
      border: solid 3px rgb(39, 8, 110);
    }
  }

  &-gameTitle {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid set-text-color($primary-color);
  }

  &-title {
    font-size: 1.4rem;
    padding-top: 12vh;
    padding-bottom: 4vh;
    margin-bottom: 1rem;
    line-height: 1.3;
  }

  &-clock {
    padding-top: 0.2rem;
    font-size: 2rem;
    margin: 1rem;
  }

  &-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__btn {
      font-family: 'Varela Round', sans-serif;
      margin: 0.2rem;
      background-color: $secondary-color;
      text-decoration: none;
      padding: 8px 10px;
      border-radius: 7px;
      border: solid 2px rgb(39, 8, 110);
    }

    &__answered {
      font-family: 'Varela Round', sans-serif;
      margin: 0.2rem;
      background-color: transparent;
      text-decoration: none;
      padding: 8px 10px;
      border-radius: 7px;
      border: solid 2px rgb(39, 8, 110);
    }
  }
}

.progress-bar {
  position: relative;
  height: 20px;
  width: inherit;
  border-radius: 50px;
  border: 1px solid rgb(39, 8, 110);
  top: 1.5rem;
}

.filler {
  height: 100%;
  border-radius: inherit;
  transition: width 1s ease-in-out;
  // -webkit-animation-name: colorChange; /* Safari 4.0 - 8.0 */
  // -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  // animation-name: colorChange;
  // animation-duration: 38s;
  animation-name: colorFluctuations;
  background: rgb(197, 164, 197);
  animation-name: colorFluctuations;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes colorChange {
  from {background-color: red}
  to {background-color: yellow;}
}
@keyframes colorChange {
  from {background-color: red;}
  to {background-color: yellow;}
}

// @mixin progress-width {
//    progresswidth and (width) {
//     @content;
//   }
// }

@keyframes colorFluctuations {
  0%   {background-color:rgb(197, 164, 197);}
  10%  {background-color:rgb(241, 139, 196);}
  20%  {background-color:rgb(236, 200, 171);}
  30%  {background-color:rgb(196, 230, 195);}
  40%  {background-color:rgb(216, 184, 216);}
  50%  {background-color:rgb(151, 173, 206);}
  60%  {background-color:rgb(139, 179, 172);}
  70%  {background-color:rgb(205, 228, 175);}
  80%  {background-color:rgb(204, 172, 172);}
  90%  {background-color:rgb(207, 155, 228);}
  100%  {background-color:rgb(197, 164, 197);}
}
